body {
  background-color: #f3f3f3;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 10px;
}

.gridItem {
  border: 2px solid gray;
  text-align: center;
}

.gridItem img {
  margin-top: 5px;
  border-radius: 5px;
}

.formContainer {
  text-align: center;
}

.formContainer label,
.formContainer input {
  margin: 0 10px;
}
